<div class="col-lg-3 dashboard   ">

  <h3 class="welcometext">Welcome, <%= user.username %>!</h3>
  <form id="bookride" onsubmit="handleSubmit(event)">
    <div class="mb-2">
      <input
        type="text"
        class="form-control input"
        id="pickup"
        name="pickup"
        placeholder="Enter Pickup Location"
        required
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control input"
        id="destination"
        name="destination"
        placeholder="Enter your Destination"
        required
      />
    </div>
    <div class="dropdown">
        <button class=" btn dropdown-toggle " type="button" id="driverdropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Select a Driver
        </button>
        <ul class="dropdown-menu" aria-labelledby="driverdropdown">
            <% drivers.map((driver, index)=>{ %>
                <a class="dropdown-item"  data-id="<%= driver.name %>"><%= driver.name %></a>
            <% }); %>
        </ul>
    </div>
    <input type="hidden" id="selectedDriverInput" name="selectedDriverInput" value="">
    <input
        type="hidden"
        class="userid"
        name="userid"
        value="<%= user._id %>"
        />
    <button type="submit" class="btn bookbutton">Book a Ride</button>
  </form>
  <a class="btn dashbutton" href="/dashboard/<%=user._id%>">Dashboard</a>
  <a class="btn dashbutton" href="/activity/<%=user._id%>">Your Trips</a>
  <a class="btn dashbutton settingbutton" href="/settings/<%=user._id%>">Settings</a>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Your ride has been Booked Successfully!</h2>
      <p>Sit back, the nearest driver to your location will contact you shortly.</p>
    </div>
  </div>

  <div id="failModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Something went wrong.</h2>
      <p>Try again later.</p>
    </div>
  </div>
  <a class="logout" href="/"><img class="logoutimg" src="/images/logout.png" />Logout</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function successModal() {
      const modal = document.getElementById("myModal");
      modal.style.display = "block";
    }

    function failModal() {
      const modal = document.getElementById("failModal");
      modal.style.display = "block";
    }
  
    function closeModal() {
      const modal = document.getElementById("myModal");
      modal.style.display = "none";
    }
  </script>

<script>
    
    document.addEventListener('click', function(event) {
        if (event.target.matches('.dropdown-item')) {
        event.preventDefault();
        var selectedDriver = event.target.dataset.id;
        console.log(selectedDriver);
        document.getElementById('selectedDriverInput').value = selectedDriver;
        
        }
    });
    
  function handleSubmit(event) {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    const payload = {
      pickup: formData.get("pickup"),
      destination: formData.get("destination"),
      userid: formData.get("userid"),
      driver: formData.get('selectedDriverInput'),

    };

    axios
      .post("/bookride", payload)
      .then((response) => {
        if (response.status === 200) {
          successModal()
        } else {
          failModal()
        }
      })
      .catch((error) => {
        if (error) {
          console.log(error);
        }
      });
  }
</script>


