<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/activity.css" />
<title>Dashboard</title>
</head>
<body>
    <div class="container-fluid dashcontainer">
        <div class="row">
            <%- include('partials/dashboardnav', {drivers: drivers }); -%>
            <div class="col-lg-9">
                <h3>Your previous trips</h3>
                
                <table class="tablecontainer table table-dark table-hover">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Pickup</th>
                          <th scope="col">Destination</th>
                          <th scope="col">Driver</th>
                          <th scope="col">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% activity.map((activity, index)=>{ %>
                            <tr>
                                <th scope="row"><%= index + 1 %></th>
                                <td><%= activity.pickup %></td>
                                <td><%= activity.destination %></td>
                                <td><%= activity.driver %></td>
                                <td><%= activity.date %></td>
                            </tr>

                        <% })   %>
                        

                    </tbody>  
                </table>
            </div>
        </div>
    </div>

 

<%- include('partials/footer'); -%>