<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/dashboard.css" />
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container-fluid dashcontainer">
        <div class="row">
            <%- include('partials/dashboardnav', {drivers: drivers }); -%>
            <%- include('partials/mobilenav', {drivers: drivers }); -%>
            
            <div class="col-lg-9 dashcontainermobile">
                
                    <h3>Need a ride? Book one now!</h3>
                    <p class="mb-3">Our drivers are more than capable to take you on your journey.</p>
                <div class="view">
                    <div class="container">
                        <div class="row tablerow">
                            <% drivers.map((driver, index)=>{ %>
                                <div class="col-lg-4  tablecontainer">
                                    <div class="card tableitem" style="width: 18rem;">
                                        <!-- <img src="..." class="card-img-top" alt="..." /> -->
                                        <div class="card-body">
                                            <h5 class="card-title"><%= driver.name %></h5>
                                            <p class="card-text">Age: <%= driver.age %></p>
                                            <a href="tel:<%=  driver.contact %>" class="btn mybtn ">Call</a>
                                        </div>
                                    </div>
                                </div>
                            <% })   %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

 

<%- include('partials/footer'); -%>